/* Fondo general */
body {
  background-color: #bb2e2e;
}

/* Título */
h2 {
  margin-bottom: 20px;
}

/* Carrusel más grande y centrado */
.carousel {
  max-width: 900px;   /* aumentamos el ancho máximo */
  margin: 0 auto;     /* centrado */
}

/* Ajuste de altura de las imágenes */
.carousel-item img {
  height: 500px;       /* altura más grande */
  object-fit: contain; /* mantiene proporciones sin recortar */
}
