/* Fondo general */
body {
  background-color: #75706e;
}

/* Título */
h2 {
  margin-bottom: 20px;
}

/* Carrusel más grande y centrado */
.carousel {
  max-width: 900px;   /* aumentamos el ancho máximo */
  margin: 0 auto;     /* centrado */
}

/* Ajuste de altura de las imágenes */
.carousel-item img {
  height: 500px;       /* altura más grande */
  object-fit: contain; /* mantiene proporciones sin recortar */
}

/* Footer fijo abajo */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;          /* ocupa todo el ancho */
  background-color: #212529; /* mismo color que tu navbar */
  color: white;
  text-align: center;
  padding: 10px;
}

